.place__paragraph {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 780px){
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 340px){
  .place__paragraph {
    padding: 0 16px;
  }
}

