.intro__text {
  position: relative;
  max-width: 690px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
