@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__weight/intro__weight.css);
@import url(./__lists/intro__lists.css);
@import url(./__content/intro__content.css);

.intro {
  position: relative;
  max-width: 984px;
  margin: 92px auto 0 auto;
}
