@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__link-marg/footer__link-marg.css);

.footer {
  position: relative;
  max-width: 1184px;
  margin: auto;
  margin-top: 92px;
  padding: 0 48px 24px 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 780px){
  .footer {
    padding: 0 24px 24px 24px;
  }
}

@media screen and (max-width: 760px){
  .footer {
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 340px){
  .footer {
    margin-top: 64px;
  }
}
